<app-navbar></app-navbar>
<div class="div">
        <br>
               <h1>About HYZPharma</h1>
               <br>
               <hr>
               <br>
               
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Laudantium, alias voluptatum qui pariatur fuga,
                 ipsam at cupiditate voluptates et id hic praesentium atque
                  doloribus odio? Est veniam commodi recusandae eligendi!
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Laudantium, alias voluptatum qui pariatur fuga,
                  ipsam at cupiditate voluptates et id hic praesentium atque
                   doloribus odio? Est veniam commodi recusandae eligendi!
                   Laudantium, alias voluptatum qui pariatur fuga,
                   ipsam at cupiditate voluptates et id hic praesentium atque
                    doloribus odio? Est veniam commodi recusandae eligendi!</p>
                    <br>
    </div>
    <div class="div">
        <br>
               <h1>About HYZPharma</h1>
               <br>
               <hr>
               
               
               <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, alias</li>
               <li> voluptatum qui pariatur fuga,ipsam at cupiditate voluptates et id hic praesentium atque</li>
                 <li> doloribus odio? Est veniam commodi recusandae eligendi! Lorem ipsum </li>
                <li> dolor sit amet consectetur adipisicing elit. Laudantium, alias voluptatum qui pariatur</li><br> 
    </div>
    <div class="div">
      <br>
             <h1>About HYZPharma</h1>
             <br>
             <hr>
             <br>
             
             <div class="box container">
              <div class="box1">
                  
                  <div class="text1">
                    <p> <strong>Head Office:</strong><br>
                    XYZPharma<br>pharma house<br>MountValley<br>SH Marg,Mumbai<br>400201
                    </p>
                  </div>
                 
              
              <div class="box2">
                <p> <strong>Business hours:</strong><br>
                  24X7<br>contact brfore visiting:770428987
                  </p>  
              
              </div>
          
         
          </div>
          </div>
    </div>
          
          <div class="card-footer text-muted">
              <p class="p"> Copyright © pharmacy 2022</p>
             </div>
       
        


