<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand text-white" href="#">XYZpharma</a>
      <div
        class="collapse navbar-collapse" id="navbarSupportedContent"
        mdbCollapse
        #basicNavbar="">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white active " aria-current="page" routerLink="/home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" routerLink="/product">PRODUCTS</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" routerLink="/create">Create </a>
          </li>
        <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" routerLink="/aboutas">ABOUT AS </a>
          </li>
          
         
        </ul>
       
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
