<app-navbar></app-navbar>

<header>
    <div class="text">
        <h1>welcome to our pharmacy<br>your health our priority</h1>
        <a routerLink="/product" class="btn1">see products</a>
    </div>
</header>
<div class="box container">
    <div class="box1">
        <div class="text1">
            <br>
            <h1>Vision</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iste, tempore adipisci tenetur .</p>
        </div>
        <div class="text2">
            <br>
            <h1>Mission</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iste, tempore adipisci tenetur.<br>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="box2">
        <br>
        <h1>why us?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Rem rerum fugit ipsa exercitationem repudiandae id animi similique
             sint odit obcaecati quaerat, optio veniam minima porro soluta,
              vitae esse beatae tempora.Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Rem rerum fugit ipsa exercitationem repudiandae id animi similique
              sint odit obcaecati.</p></div>

</div>
<br>
<div class="card-footer text-muted">
   <p class="p"> Copyright © pharmacy 2022</p>
  </div>